<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>TheQuest - Gaming Magazine Template</title>
  <meta charset="UTF-8">
  <meta name="description" content="TheQuest Gaming Magazine Template">
  <meta name="keywords" content="gaming, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="shortcut icon" />

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="css/animate.css" />
  <link rel="stylesheet" href="css/slicknav.min.css" />


  <!-- Main Stylesheets -->
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://kit.fontawesome.com/fe624aa763.js" crossorigin="anonymous"></script>

</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header section -->
  <header class="header-section">
    <a href="index" class="site-logo">
      <img src="img/logo-3.png" width="70%" alt="logo">
    </a>
    <ul class="main-menu">
      <li><a href="index">Home</a></li>
      <% if(isLoggedIn) { %>
      <li><a href="profile">Favorites</a></li>
      <li><a href="logout">Log Out</a></li>
      <% } else { %>
      <li><a href="login">Login</a></li>
      <li><a href="signup">Sign Up</a></li>

      <% } %>
    </ul>

    <div class="header-add">
      <img src="img/author-thumbs/train.png" width="35%" alt="">
    </div>

  </header>
  <!-- Header section end -->

  <!-- Hero section -->
  <section class="hero-section">
    <div class="hero-slider owl-carousel">
      <div class="hero-item set-bg" data-setbg="img/slider/CityHall.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h2>Find your next train</h2>
              <p>Put in your location to find the cloest train station to you</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-item set-bg" data-setbg="img/slider/south.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h2>Best way to get around Boston</h2>
              <p>Watch your train arrive in realtime on our updated</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- map section -->


  <div class="container">
    <div class="row">

    <div class="col-lg-4 sidebar">
      <div class="col-md-6 d-flex">
        <div id="map" class="bg-white"></div>
      </div>
    </div>
  </div>
  </div>
  <section class="blog-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 blog-posts">
            <div class="map">
              <div class="col-md-6 order-md-last d-flex">
                <section class="blog-section spad">
                  <div class="bg-light p-5 contact-form">
                    <div class="form-group">
                      <input id="start" type="text" class="form-control" placeholder="Start location">
                    </div>
                    <div class="form-group">
                      <input id="end" type="text" class="form-control" placeholder="End location">
                    </div>
                    <p>Check the box to get notifications:<input type="checkbox" id="sendSms"></p>
                    <button id="getClosestStation">
                      Show your route
                    </button>
                    <button id="getCurrentLocation">
                      Use my current location
                    </button>
                    <button id="add">Add to your Favorites</button>

                    <iframe width="100%" height="450" frameborder="0" style="border:0" id="tripPlanner"

                      src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBCrlrUUk-AoKylJkMz4gagA3SCCpaakJU&origin=State+Station&destination=42.4078,-70.9926&mode=transit" allowfullscreen>
                    </iframe>
                </section>
                <div class="col-lg-4 sidebar">

                  <div class="sb-widget">
                    <h1 class="sb-title">Get predictions for the next train</h1>
                    <ul class="sb-cata-list">
                      <li><a href="blueline">Blue Line<span></span></a></li>
                      <li><a href="greenlineB">Green Line B<span></span></a></li>
                      <li><a href="greenlineC">Green Line C<span></span></a></li>
                      <li><a href="greenlineD">Green Line D<span></span></a></li>
                      <li><a href="greenlineE">Green Line E<span></span></a></li>
                      <li><a href="orangeline">Orange Line<span></span></a></li>
                      <li><a href="redline">Red Line<span></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Footer section -->
  <div class="footer-section">
    <div class="container">
      <div class="row">

      <!-- <div class="copyright"><a href="">
          <p>
            Copyright &copy;<script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"> Colorlib</a>
          </p>
      </div> -->
    </div>
    <div class="social-links-warp">
      <div class="container">
        <div class="social-links">
          <a href="https://www.linkedin.com/in/victorphitran/"><i class="fab fa-linkedin"></i><span>linkedin</span></a>
          <a href="https://github.com/VictorTran-rc"><i class="fab fa-github-alt"></i></i><span>GitHub</span></a>
          <a href="https://twitter.com/Victor95015112"><i class="fa fa-twitter"></i><span>twitter</span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer section end -->

  <!--====== Javascripts & Jquery ======-->
  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.slicknav.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/circle-progress.min.js"></script>
  <script src="../js/jquery.magnific-popup.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/map.js"></script>
  <script src="../js/favorites.js"></script>
  <!-- <script src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBCrlrUUk-AoKylJkMz4gagA3SCCpaakJU&parameters"></script> -->



</body>

</html>
