<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Favorites</title>
	<meta charset="UTF-8">
	<meta name="description" content="TheQuest Gaming Magazine Template">
	<meta name="keywords" content="gaming, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/profile.css" />
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<script src="https://kit.fontawesome.com/fe624aa763.js" crossorigin="anonymous"></script>


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<a href="index" class="site-logo">
			<img src="img/logo-3.png" alt="logo">
		</a>
		<ul class="main-menu">
			<ul class="main-menu">
				<li><a href="index">Home</a></li>
				<li><a href="profile">Favorites</a></li>
				<% if(isLoggedIn) { %>
					<li><a href="logout">Log Out</a></li>
				<% } else { %>
					<li><a href="login">Login</a></li>
					<li><a href="signup">Sign Up</a></li>
				<% } %>
			</ul>
		</ul>
		<div class="header-add">
			<img src="img/author-thumbs/train.png" width="55%" alt="">
		</div>
	</header>
	<!-- Header section end -->

	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="img/slider/CityHall.jpg">
		<div class="container">
			<h2>Favorites</h2>
		</div>
	</section>
	<!-- Page top section end -->

	<!-- Character section 1 -->
	<section class="characters-section character-one">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<iframe width="100%" height="650" frameborder="0" style="border:0" id="tripPlanner"></iframe>

				</div>
			<div>
				<h2 style="color: white">Click your favorite routes</h2>
				<ul style="color: white">
						<% for (let i = 0; i < favorites.length; i++) { %>
							<div class="favorite">
								<li class="start"> <%= favorites[i].start %><li> <span> to</span>
								<li class="end"> <%= favorites[i].end %></li>
								<span><i class="fa fa-trash" aria-hidden="true"></i></span>
								<br>
							</div>
						<% } %>
				</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Character section 1 end -->

	<!-- Footer section -->
	<div class="footer-section">
		<div class="container">
			<div class="row">

			<div class="copyright"><a href="">
					<p>
						Copyright &copy;<script>
							document.write(new Date().getFullYear());
						</script>This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Victor Tran</a>
					</p>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="#"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="#"><i class="fa fa-twitter"></i><span>twitter</span></a>
				</div>
			</div>
		</div>
	</div>

	<!--====== Javascripts & Jquery ======-->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.slicknav.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/circle-progress.min.js"></script>
	<script src="../js/jquery.magnific-popup.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/favorites.js"></script>

	</body>
</html>
